@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .home{
        @apply bg-transparent text-black
    }
    .home_big{
        @apply bg-black text-white 
    }
    .search{
        @apply rounded-full h-12 py-2 pl-4 
    }
    
/* .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  
  
  .grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover; 
  
  } */
  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
  }
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 30px;
  }
  

}